<div class="container">

<h1>
My Profile
</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>


<p>

<%= image_tag(@profile.image_url.to_s) %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@profile.image.to_s)%>


</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @profile.interest %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>



<%= link_to 'Edit', edit_profile_path %> 
