
<p id="notice"><%= notice %></p>
<div class="container">
<h1>Listings</h1>

<% @listings.each do |listing| %>


    <div class="tour-section">
      <div class ="row tour-title">
          <div class="col-md-6">
            <h1> <%= "Julian Day" %> </h1>
          </div>

          <div class="col-md-6">
            <h1> <%= listing.title %> </h1>
          </div>

      </div>

      <div class="row tour-info">  
          <div class="col-md-6 col-sm-12 tour-image-box">
            <img class="tour-image" src="<%= listing.image %>" alt="user display picture">
          </div>


          <div class="col-md-6 col-sm-12 tour-info-box">
          
              <div>

                <p>Languages: English, Korean</p>
                <p>Interest: Dance</p>
                <p>Date: <%= listing.date %></p>
                <p>Cost: $<%= listing.cost %></p>
                
                  <button type="button" class="btn btn-dark"><%= link_to 'Details', listing %></button>
                

              </div>

          </div>


      </div>

    </div>

    <% end %>



    <div class="new-listing-button">
      <%if user_signed_in? %>
        
        <button type="button" class="btn btn-dark"><%= link_to 'Create New Tour', new_listing_path%></button>
      <% else %>
        <button type="button" class="btn btn-dark"><%= link_to 'Create New Tour', new_user_session_path%></button>
      <% end %>

    </div>