<!DOCTYPE html>
<html>
  <head>
    <title>Gdaymateapp</title>
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Palanquin" rel="stylesheet">
    <link rel="icon" href="/images/logo.png">
    </head>

  <body>
  <%= render 'navbar/navbar' %>
  
    <%= yield %>
  
  </body>
</html>
